# Turn on mod_rewrite
RewriteEngine On
#

# If a file/directory exists in webRoot it will be served, otherwise the request is routed to index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
#

# Disable directory browsing
Options All -Indexes
#
